@{
    ViewBag.Title = "Contact";
}


<h2>Perfect Property Company VietNam</h2>
<img src="~/images/23513265_1830010197290625_593480001_n.png" />
<p><strong>Address: </strong>3rd floor, Jabes 1, 244 Cong Quynh street, Pham Ngu Lao ward, District 1, Ho Chi Minh City </p>
<p><strong>Phone:</strong> 096 420 0531  </p>
<p> <strong> Hotline:</strong> 092 029 756</p>